ul {
  display: flex;
}
li {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-bottom: 20px; 
  font-size: 1.2vw ;
}

form {
  display: flex;
  padding-right: 0%;
}
fieldset {
  border: 0px;
  background-color: white;
  width: 100%;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  padding:0;
  margin: 0;
 
  
  
}
.webBody{
  width: 100%;
  padding: 0%;

}
.leftside {
  margin-left: 50%;
  padding-top: 10%;
  padding-right: 0%;
  margin-right: 0%;
  

  
}
body {
  background-color: rgb(241, 241, 241);
  padding: 0%;
  margin: 0%;
  display: flex;
}

input {
  height: 30px;
  width: 19vw;

}

button {
  
  background-color: rgb(104, 215, 123);
  color: white;
  border-radius: 5px;
  padding: 10px;
  padding-left: 40px;
  padding-right:50px;
  font-size: 1.3vw;
  margin-left: 25px;
  margin-top: 10px;
}
button:hover {
  background-color: white;
  color:rgb(104, 215, 123);
  
}
.image {
  display: flex;
  background-image: url(background.jpeg);
  background-repeat: repeat;
  margin-right: 50%;
  height: 100%;
  width: 50%;
  position: fixed;
  margin-top: 0;
}

p {
  padding-left: 5px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 1.2vw;
  font-weight: 0;
}

.black {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.692);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.odin {
  height: 15vw; 
}

em {
  color:rgb(104, 215, 123)
}
a {
  color: rgb(104, 215, 123);
}
legend {
  font-weight: bold;
  color: rgb(104, 215, 123);
}
input:focus {
  background-color: rgb(104, 215, 123);
  color: white;

}
.acct {
  padding-left: 20px;
}