ul {
  display: flex;
}
li {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-bottom: 20px; 
  font-weight: 100;
}

form {
  display: flex;
}
fieldset {
  border: 0px;
  background-color: white;
  width: 100%;
 
  
  
}
.webBody{
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 0;
  width: 100%;
  padding: 0%;

}
.leftside {
  margin-left: 50%;
  padding-top: 10%;
  

  
}
body {
  background-color: rgb(241, 241, 241);
  padding: 0%;
  margin: 0%;
}

input {
  height: 30px;
 

}

button {
  
  background-color: rgb(104, 215, 123);
  color: white;
  font-size: medium;
  border-radius: 5px;
  padding: 10px;
  padding-left: 40px;
  padding-right:50px;
  font-size: 20px;
  margin-left: 15px;
  margin-top: 10px;
}
.image {
  display: flex;
  background-image: url(background.jpeg);
  background-repeat: repeat;
  margin-right: 50%;
  height: 100%;
  width: 50%;
  position: fixed;
  margin-top: 0;
}

p {
  padding-left: 20px;
  font-weight: bold;
}

.black {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.692);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.odintext {
  color: white;
  font-size: 50px;
}